<!DOCTYPE html>
<html lang="en">
<head>
	<title>Change Password</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{{ url_for('static',filename='imageslogin/icons/favicon.ico') }}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='vendorlogin/bootstrap/css/bootstrap.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='fontslogin/font-awesome-4.7.0/css/font-awesome.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='fontslogin/iconic/css/material-design-iconic-font.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='vendorlogin/animate/animate.css') }}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='vendorlogin/css-hamburgers/hamburgers.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='vendorlogin/animsition/css/animsition.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='vendorlogin/select2/select2.min.css') }}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='vendorlogin/daterangepicker/daterangepicker.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='csslogin/util.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='csslogin/main.css') }}">
<!--===============================================================================================-->
</head>
<body></body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-t-85 p-b-20">
				<form class="login100-form validate-form"  action="{{ url_for('regist_user') }}" method="POST" enctype=multipart/form-data>
					<span class="login100-form-title p-b-70">
						Change Password
					</span>
					<span class="">
						<img src="{{ url_for('static',filename='imageslogin/xl.png') }}" alt="XL">
					</span>

					<div class="wrap-input100 validate-input m-t-85 m-b-35" data-validate = "Enter password">
						<input class="input100" type="password" name="old_password">
						<span class="focus-input100" data-placeholder="Old Password"></span>
					</div>

					<div class="wrap-input100 validate-input m-b-50" data-validate="Enter password">
						<input class="input100" type="password" name="new_password">
						<span class="focus-input100" data-placeholder="New Password"></span>
                    </div>
                    
                    <div class="wrap-input100 validate-input m-b-50" data-validate = "Enter password">
						<input class="input100" type="password" name="retype_password">
						<span class="focus-input100" data-placeholder="Retype Password"></span>
                    </div>
                    {% if stats == 1 %}
						<div class="alert alert-danger">
							<strong>Error!</strong> {{err}}
                        </div>
                    {% else %}
                    <div class="alert alert-danger">
                        <strong>Error!</strong> New Password didnt match 
                    </div>
					{% endif %}
					<div class="container-login100-form-btn">
						<button class="login100-form-btn" type=submit name="submit">
							Change Password
						</button>
					</div>

					
				</form>
			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>
<!--===============================================================================================-->
	<script src="{{ url_for('static',filename='vendorlogin/jquery/jquery-3.2.1.min.js') }}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for('static',filename='vendorlogin/animsition/js/animsition.min.js') }}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for('static',filename='vendorlogin/bootstrap/js/popper.js') }}"></script>
	<script src="{{ url_for('static',filename='vendorlogin/bootstrap/js/bootstrap.min.js') }}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for('static',filename='vendorlogin/select2/select2.min.js') }}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for('static',filename='vendorlogin/daterangepicker/moment.min.js') }}"></script>
	<script src="{{ url_for('static',filename='vendorlogin/daterangepicker/daterangepicker.js') }}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for('static',filename='vendorlogin/countdowntime/countdowntime.js') }}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for('static',filename='jslogin/main.js') }}"></script>

</body>
</html>